/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto /
    1fr;
}

img {
  width: 100%;
  object-fit: cover;
}

.header,
.footer {
  background-color: #495a4b;

  color: whitesmoke;
  font-weight: 900;
}

.header {
  grid-area: header;
  align-items: center;
}

.header .brand {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;

  justify-content: start;
  align-content: center;
}

.header .brand .app-name {
  align-self: center;
}

.header .frame {
  width: 50px;
  height: 50px;
}

.main {
  grid-area: main;

  overflow-y: scroll;
}

.footer {
  grid-area: footer;

  display: grid;
  place-content: center;
}

/* Styles for Home/index page */

.main .page-title {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

.main .books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 300px));
  gap: 30px;

  justify-content: center;
  align-content: center;
}

.main .books .wrapper {
  box-shadow: 1px 1px 2px 1px #00000010;
  padding: 5px;
}

.main .books .book .frame {
  width: 150px;
  height: 200px;

  overflow: hidden;
}

.main .books .book .info {
  display: grid;
  justify-content: start;
  align-content: center;
}

.main .books .book .info > * {
  margin-bottom: 5px;
}

.main .books .book .info .title {
  font-size: 20px;
}

.main .books .book .info .author {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: grey;
}

.main .books .book .info .additional-text {
  font-size: 14px;
}

/* Styles for Book page */

.main .offer-wrapper {
  padding: 20px 0;

  display: grid;
  place-content: center;

  box-shadow: 1px 1px 10px 1px #00000050;
}

.main .offer-wrapper .book .frame {
  width: 100px;
  height: 150px;

  overflow: hidden;

  box-shadow: 0px 0px 8px 2px #00000050;
}

.main .offer-wrapper .book .info {
  display: grid;
  justify-content: start;
  align-content: center;
}

.main .offer-wrapper .book .info > * {
  margin-bottom: 8px;
}

.main .offer-wrapper .book .info .title {
  font-size: 20px;
}

.main .offer-wrapper .book .info .author {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 900;

  color: grey;
  text-transform: uppercase;
}

.main .offer-wrapper .book .info .offer-text {
  color: grey;

  font-size: 14px;
}

.main .offer-wrapper .book .info .offer-text .link-text {
  color: rgb(14 35 15 / 75%);

  font-size: 16px;
  font-weight: 900;
}

.main .cards {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  gap: 30px;

  place-content: center;
  place-items: center;
}

.main .cards .card .difficulty {
  display: grid;
  place-content: end;
  gap: 10px;

  padding-right: 5px;

  font-weight: 900;
  color: goldenrod;
}

.main .cards .card .board {
  width: 300px;
  height: 300px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  box-shadow: 1px 1px 10px #000;
}

.main .cards .card .board .chess-piece {
  font-size: 22px;
}

/* Styles for exercise page */

.main.exercise-page .exercise-wrapper {
  /* center container */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  display: grid;
  justify-items: center;

  gap: 30px;
}

.main.exercise-page .page-title {
  margin: 40px 0;
}

/* Chess board container styles in exercise page */
.main.exercise-page .board-container {
  width: 600px;
  height: 600px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  box-shadow: 1px 1px 10px 1px #000;
}

.main.exercise-page .board-container .square.marked {
  position: relative;
}

.main.exercise-page .board-container .square-mark.number {
  position: absolute;

  left: 1px;
}

.main.exercise-page .board-container .square-mark.letter {
  position: absolute;

  bottom: 1px;
}

.main.exercise-page .board-container .chess-piece {
  font-size: 65px;
}

/* Exercise description below the chess board */
.main.exercise-page .description {
  padding-top: 10px;

  text-align: center;

  font-style: italic;
  font-weight: 900;
  font-size: 20px;
}

/* Hidden answer card styles */
.main.exercise-page .answer-card {
  padding: 10px;

  display: grid;
  align-content: center;

  width: 330px;
  height: 300px;

  position: relative;
}

.main.exercise-page .answer-card .card-side {
  display: grid;
  place-content: center;

  width: 100%;
  height: 100%;

  border-radius: 3px;
  box-shadow: 0 0 10px 1px #00000060;

  position: absolute;
  top: 0;
  left: 0;

  backface-visibility: hidden;

  transition: all 0.7s;
}

.main.exercise-page .answer-card .card-description {
  text-align: center;
}

.main.exercise-page .answer-card .card-side.front {
  z-index: 1;
  background-color: whitesmoke;
}

.main.exercise-page .answer-card .card-side.front .card-description {
  font-size: 2rem;
}

/* :hover front */
.main.exercise-page .answer-card:hover .card-side.front {
  transform: rotateY(180deg);
}

.main.exercise-page .answer-card .card-side.back {
  transform: rotateY(-180deg);
  background-color: whitesmoke;
}

.main.exercise-page .answer-card .card-side.back .card-description p {
  margin-bottom: 10px;

  line-height: 1.5;
}

/* :hover back */
.main.exercise-page .answer-card:hover .card-side.back {
  transform: rotateY(0deg);
}

/* Register page/form styles */

.register-page .form-wrapper {
  margin-bottom: 50px;
  margin-top: 30px;
  box-shadow: 1px 1px 10px 1px #00000050;
}

.register-page .center-text {
  text-align: center;
}

.register-page .registration-form {
  padding: 50px;

  /* display:grid for placing 'Sign up' button in the middle */
  display: grid;
}

.register-page .registration-form > * {
  width: 100%;
}

.register-page .registration-form input,
.register-page .registration-form select,
.register-page .registration-form textarea {
  display: block;

  padding: 0 5px 10px;
  margin-bottom: 30px;

  font-size: 20px;

  line-height: 1.5;

  border: none;
  border-bottom: 1px solid #00000030;
}
.register-page .registration-form select {
  outline: none;

  background-color: transparent;

  color: grey;
}

.register-page .registration-form select option[value=""] {
  font-size: 16px;
}

.register-page .registration-form input:focus,
.register-page .registration-form textarea:focus {
  outline: none;
}

.register-page .registration-form input::-webkit-input-placeholder,
.register-page .registration-form textarea::-webkit-input-placeholder {
  padding: 10px;

  font-size: 16px;
  color: #00000050;
}

.register-page
  .registration-form
  input[placeholder]:focus::-webkit-input-placeholder {
  font-size: 16px;
  color: transparent;
}

.register-page
  .registration-form
  textarea[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

.register-page .registration-form label {
  display: block;

  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
}

.register-page .registration-form .radio-button {
  display: inline-block;

  margin-bottom: 10px;
}

.register-page .registration-form .radio-button .radio > * {
  display: inline-block;

  margin-bottom: 10px;
}

.register-page .registration-form .radio-button .radio label {
  font-weight: 500;
}

.register-page .registration-form textarea {
  resize: vertical;

  min-height: 200px;
}

.register-page .registration-form .checkbox > * {
  display: inline-block;

  margin: 0 5px 10px;
}

.register-page .registration-form button {
  display: grid;
  place-self: center;

  padding: 10px 20px;
  margin-top: 40px;

  width: 30%;

  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px 10px 1px #00000050;

  background-color: #495a4b;

  color: whitesmoke;
  font-size: 20px;
  font-weight: 700;

  cursor: pointer;
}
