/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto /
    1fr;
}

img {
  width: 100%;
  object-fit: cover;
}

.header,
.footer {
  background-color: rgb(14 35 15 / 75%);

  color: whitesmoke;
  font-weight: 900;
}

.header {
  grid-area: header;
  align-items: center;
}

.header .brand {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;

  justify-content: start;
  align-content: center;
}

.header .brand .app-name {
  align-self: center;
}

.header .frame {
  width: 50px;
  height: 50px;
}

.main {
  grid-area: main;

  overflow-y: scroll;
}

.footer {
  grid-area: footer;

  display: grid;
  place-content: center;
}

/* Styles for Home/index page */

.main .page-title {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

.main .books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 300px));
  gap: 30px;

  justify-content: center;
  align-content: center;
}

.main .books .wrapper {
  box-shadow: 1px 1px 2px 1px #00000010;
  padding: 5px;
}

.main .books .book .frame {
  width: 150px;
  height: 200px;

  overflow: hidden;
}

.main .books .book .info {
  display: grid;
  justify-content: start;
  align-content: center;
}

.main .books .book .info > * {
  margin-bottom: 5px;
}

.main .books .book .info .title {
  font-size: 20px;
}

.main .books .book .info .author {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: grey;
}

.main .books .book .info .additional-text {
  font-size: 14px;
}

/* Styles for Book page */

.main .offer-wrapper {
  padding: 20px 0;

  display: grid;
  place-content: center;

  box-shadow: 1px 1px 10px 1px #00000050;
}

.main .offer-wrapper .book .frame {
  width: 100px;
  height: 150px;

  overflow: hidden;

  box-shadow: 0px 0px 8px 2px #00000050;
}

.main .offer-wrapper .book .info {
  display: grid;
  justify-content: start;
  align-content: center;
}

.main .offer-wrapper .book .info > * {
  margin-bottom: 8px;
}

.main .offer-wrapper .book .info .title {
  font-size: 20px;
}

.main .offer-wrapper .book .info .author {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 900;

  color: grey;
  text-transform: uppercase;
}

.main .offer-wrapper .book .info .offer-text {
  color: grey;

  font-size: 14px;
}

.main .offer-wrapper .book .info .offer-text .link-text {
  color: rgb(14 35 15 / 75%);

  font-size: 16px;
  font-weight: 900;
}

.main .cards {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 30px;

  justify-content: center;
  align-content: center;
}

.main .cards .wrapper {
  width: 200px;
}

.main .cards .card .difficulty {
  display: grid;
  place-content: end;
  gap: 10px;

  padding-right: 5px;

  font-weight: 900;
  color: goldenrod;
}

.main .cards .card .board {
  width: 200px;
  height: 200px;
}

/* Styles for exercise page */

.main.exercise-page .exercise-wrapper {
  /* center container */
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  display: grid;
  justify-items: center;

  gap: 30px;
}

.main.exercise-page .page-title {
  margin: 40px 0;
}

.main.exercise-page .board-container {
  width: 600px;
  height: 600px;

  border: 2px solid black;
}

.main.exercise-page .answer-container {
  width: 400px;
  height: 200px;

  border: 2px dotted green;
}
